.aabb{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ0nY9iUZW7VWuJT3f0N1sy6zDEJek9AwnoA&usqp=CAU');
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}