.home-background {
    background-image: url('https://i.pinimg.com/originals/a8/81/d9/a881d920c83ed71fcc98f889ac235273.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
  }